<div class="container">

  <div class="pending-hompage row">
      <div class="homepage-block col-md-3">
       <p>asdf</p>
      </div>
      <div class="homepage-block col-md-3">
       <p>asdf</p>
      </div>
      <div class="homepage-block col-md-3">
       <p>asdf</p>
      </div>
      <div class="homepage-block col-md-3">
       <p>asdf</p>
      </div>

  </div>

  <div class="pending-hompage">

  </div>


</div>
